[submodule "llvm"]
	path = ext/llvm
	url = http://llvm.org/git/llvm.git
[submodule "ext/verilator"]
	path = ext/verilator
	url = http://git.veripool.org/git/verilator
[submodule "ext/clang"]
	path = ext/clang
	url = git@github.com:llvm-mirror/clang.git
