# Outputs
/bin
/docs

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.os

# LLVM bitcode object/disassembled files
*.bc
*.ll

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.sconsign.dblite
